
/*-------------------nav bar css-----------------------------*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ensures content stays within the nav */
  background-color: #333;
}

nav li {
  float: left; /* Makes list items display horizontally */
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #111;
}




/*-------------------Section 1 Contact page -----------------------------*/



h1{
    text-align: center;
    font-size: 60px;
}

.header2{
    text-align: center;
    font-size: 45px;
}

body{
    background-color: #1c1c1d;
    color: aliceblue;
}

p{
    margin-bottom: 1em;
}

b{
    font-size: 20px;
    text-decoration: underline;
}